.body {
  height: auto;
  background-image:url('./bglight.jpg');
  background-size: cover;
  background-repeat: repeat;
}

.body-content {
  padding-top: 90px;
  padding-left: 40px;
  color: grey;
  padding-bottom: 120px;
}

.body-content > h1 {
  font-weight: 700;
  font-size: 1.2rem;
}
